@use './styles/_tokens' as *;
@use './styles/_mixins' as *;

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  line-height: 1.6;
  position: relative;
}

.app-root {
  min-height: 100vh;
}

@include respond-xs {
  .app-root {
  }
}
